body {
  font-family: 'Lato', Verdana;
  font-size: 100%;
  background: #eee9e9;
}
@media(max-width: 1920px){
  
.header {
  overflow: hidden;
  background-color: rgb(199, 151, 247);
  color: #ffffff;
  padding: 20px 10px;
}

/* Стиль ссылок шапки */
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Стиль ссылки логотипа */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Изменение цвета фона при наведении курсора */
.header a:hover {
  background-color: #dda2ff;
  color: black;
}

/* Стиль активной/текущей ссылки */
.header a.active {
  background-color: dodgerblue;
  color: white;
  border-radius: 4px;
}

/* Сдвигаем секцию со ссылками вправо */
.header-right {
  float: right;
}

/* Медиа-запрос для адаптивности – когда ширина
  экрана 650px или меньше, ссылки будут друг над другом */
@media screen and (max-width: 650px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.logo {
 margin-top: 8px;
 margin-left: 10px;
}
h3{
 color:rgb(167, 87, 247);
}
.slider {
  width: 600px;
  height: 450px;
  
  border-radius: 15px;
  border: solid 1px;
  margin-left: 590px;
}
.slide {
  width: 100%;
  height: 100%;
  display: none;
  background-size: cover;
  
}
.indicator {
  text-align: center;
  margin-left: -82px;
  margin-top: 10px;
 
}
.point {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(240, 236, 236);
  margin: 0 2px;
  cursor: pointer;
  border: solid 1px;
}
.point.active {
  background-color: rgb(83, 111, 255); /* Цвет активного маркера */
}
.news-block {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 95px;
  border: 1px solid #ccc;
  margin-top: 50px;
}

.news-item {
  margin-bottom: 20px;
}

.news-item h3 {
  color: rgb(146, 42, 250);
}

.news-item p {
  color: #666;
}
h2{
  color: rgb(167, 87, 247);
}
.kvad{
  text-align: center;
}
.gif{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: black;
}


button {
  background-color: #8b75c9;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block; 
  margin: 0 auto; 
  border-radius: 18px;
  margin-top: -4px;
}


ul {
list-style-type: none;
padding: 0;
margin: 0;
}
li {
cursor: pointer;
padding: 8px;
margin-bottom: 3px;
}
li.selected {
background-color: #f0f0f0;
}


.dropdown {
position: relative;
display: inline-block;
}

.dropbtn {
background-color: #f1f1f1;
color: black;
padding: 10px;
font-size: 16px;
border: none;
margin-top: -70px;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropbtn::after {
content: '\25BE'; /* псевдоэлемент для создания треугольника */
font-size: 14px;
margin-left: 5px;
}
h1{
text-align: center;
}
div{
text-align: left;
}
footer{
  background-color:rgb(199, 151, 247);
  height: 280px;
  float: none;
  display: block;
  text-align: left;
  padding: 10px;
}
.read-more-btn {
  background-color: rgb(146, 42, 250); /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  padding: 5px 10px; /* Внутренние отступы кнопки */
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  margin-right: 90px;
  margin-top: 20px;
}

.read-more-btn:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}
.menu{
  color: #ffeaea;
}
.content {
  display: flex;
  flex-direction: column;
}

.foto {
  margin-top: 20px; /* Расстояние между текстом и изображением */
}
.vodn{
  color: #ffeaea;
  margin-left: 8px;
  float: none;
    display: block;
    text-align: left;
}
.ikonki{
  color: #ffeaea;
  float: none;
    display: block;
    text-align: left;
}
.nomer{
  color: #ffeaea;
}

 }
 @media(max-width: 768px){
  .nav {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  
  }
  
  .nav ul {
  list-style-type: none;
  padding: 80;
  margin: 70;
  display: flex;
  
  }
  
  .nav li {
  margin: 0 30px;
  margin-top: 8px;
  
  }
  
  .container {
  background-color: rgb(219, 185, 252);
  align-items: center;
  height: 70px;
  margin-top: -65px;
  }
  
  .slider {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border: solid 1px;
  margin-left: 0;
  }
  
  .news-block {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  margin-top: 30px;
  }
  
  .news-item h3 {
  color: rgb(146, 42, 250);
  }
  
  .news-item p {
  color: #666;
  }
  
  .kvad {
  text-align: center;
  }
  
  .gif {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  
  
  .dropdown {
  position: relative;
  display: inline-block;
  }
  
  .dropbtn {
  background-color: #f1f1f1;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  margin-top: -70px;
  }
  
  h1 {
  text-align: center;
  }
  
  
  .read-more-btn {
  background-color: rgb(146, 42, 250);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 20px;
  }
  
  .menu {
  color: #ffeaea;
  margin-left: 10px;
  }
  @media only screen and (max-width: 768px) {
  .content {
  display: flex;
  flex-direction: column;
  }
  footer {
  background-color: rgb(199, 151, 247);
  height: auto;
  width: auto;
  margin-top: 30px;
  flex-direction: column
  }
  
  .foto {
  margin-top: 20px;
  }
  
  .vodn {
  color: #ffeaea;
  margin-left: 8px;
  }
  
  .ikonki {
    margin-left: 5px;
  color: #ffeaea;
  flex-direction: column;
  float: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .ikonki img{
    width: 40px;
    margin: 3px;
  }
  
  .nomer {
  color: #ffeaea;
  float: none;
    display: block;
    text-align: left;
  }
  
  }
  }
  

.bloc-foot{
  display: flex;
  justify-content: space-around;
}