@media screen and (max-width: 1980px) {
body {
  font-family: 'Lato', Verdana;
  font-size: 100%;
  background: #eee9e9;
}
.header {
  overflow: hidden;
  background-color: rgb(199, 151, 247);
  color: #ffffff;
  padding: 20px 10px;
}
footer {
  background-color: rgb(199, 151, 247);
  height: auto;
  width: auto;
  margin-top: 30px;
  flex-direction: column
  }
  
  .foto {
  margin-top: 20px;
  }
  
  .vodn {
  color: #ffeaea;
  margin-left: 8px;
  }
  
  .ikonki {
  flex-direction: column;
  align-items: center;
  }
  
  .ikonki img{
    width: 40px;
    margin: 3px;
  }
  
  .nomer {
  color: #ffeaea;
  float: none;
    display: block;
    text-align: left;
  }
  
}
/* Стиль ссылок шапки */
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Стиль ссылки логотипа */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Изменение цвета фона при наведении курсора */
.header a:hover {
  background-color: #dda2ff;
  color: black;
}

/* Стиль активной/текущей ссылки */
.header a.active {
  background-color: dodgerblue;
  color: white;
  border-radius: 4px;
}

/* Сдвигаем секцию со ссылками вправо */
.header-right {
  float: right;
}

/* Медиа-запрос для адаптивности – когда ширина
  экрана 650px или меньше, ссылки будут друг над другом */
@media screen and (max-width: 650px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(196, 137, 255);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1{
  color: rgb(177, 99, 255);
}
h2 {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}



.nav ul {
  list-style-type: none;
  padding: 0 80px;
  margin: 0 70px;
  display: flex;
}

.nav li {
  margin: 0 60px;
  margin-top: 8px;
}

.nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav .active a {
  font-weight: bold;
}


.logo {
 margin-top: 8px;
 margin-left: 10px;
}
h3{
 color:rgb(167, 87, 247);
}

h2{
  color: rgb(139, 34, 243);
}

div{
text-align: left;
}

.read-more-btn {
  background-color: rgb(146, 42, 250); /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  padding: 5px 10px; /* Внутренние отступы кнопки */
  border: none; /* Убираем границу кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  margin-right: 90px;
  margin-top: 20px;
}

.read-more-btn:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}
.menu {
  color: #ffeaea;
  margin-left: 10px;
  }
.content {
  display: flex;
  flex-direction: column;
  }

  @media screen and (max-width: 790px){
    footer {
      background-color: rgb(199, 151, 247);
      height: auto;
      width: auto;
      margin-top: 30px;
      flex-direction: column
      }
      
      .foto {
      margin-top: 20px;
      }
      
      .vodn {
      color: #ffeaea;
      margin-left: 8px;
      }
      
      .ikonki {
      display: flex;
      flex-direction: column;
      align-items: center;
      }
      
      .ikonki img{
        width: 40px;
        margin: 3px;
      }
      
      .nomer {
      color: #ffeaea;
      float: none;
        display: block;
        text-align: left;
      }
      
    }
      
    
    .bloc-foot{
      display: flex;
      justify-content: space-around;
    }
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#history {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.booking {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
p{
  color: #ffffff;
}




